<div class="top-users">
    <h2>Top 3 Users</h2>
    <div class="user-card" >
      <div class="rank">  1  </div>
      <div class="details">
        <span class="name"> yazeed </span>
        <span class="score">Score:  50 </span>
      </div>
    </div>
    <div class="user-card" >
        <div class="rank">  2  </div>
        <div class="details">
          <span class="name"> taher </span>
          <span class="score">Score:  42 </span>
        </div>
      </div>
      <div class="user-card" >
        <div class="rank">  3  </div>
        <div class="details">
          <span class="name"> abd </span>
          <span class="score">Score:  20 </span>
        </div>
      </div>
  </div>
  