
<button (click)="isOpen = !isOpen">show Form</button>

<form *ngIf="isOpen" [formGroup]="postForm" #formDirective="ngForm" (ngSubmit)="post(postForm.value)" novalidate>
    <mat-form-field>
        <mat-label>title</mat-label>
        <input matInput placeholder="Ex. Computer" formControlName="title">
    </mat-form-field>

    <mat-form-field>
        <mat-label>body</mat-label>
        <input matInput type="text"  formControlName="body">
    </mat-form-field>

    <button color="green" 
             mat-raised-button type="post" [disabled]="!postForm.valid">
        <span>Post</span></button>
</form>