<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{score}}</div>
        <div class="bottom">Score</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faCheck"></fa-icon>
      </div>
      <div class="value">
        <div class="top">3/7</div>
        <div class="bottom">Quizzes done</div>
      </div>
    </div>
    <!-- <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBoxes"></fa-icon>
      </div>
      <div class="value">
        <div class="top">45784</div>
        <div class="bottom">Products Sold</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">346928</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div> -->
  </div>